.container {
  width: 100%;
  height: 100%;
  padding-bottom: 4rem;
  background-color: var(--secondary);
  display: grid;
  .title {
    font-size: 40px;
    align-self: flex-start;
    margin-left: 7rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
    font-weight: 900;
  }
  .formContainer {
    width: 50%;
    justify-self: center;
    .inputContainer {
      display: flex;
      flex-direction: column;
      padding-bottom: 1rem;
      input {
        color: black;
        border-radius: 10px;
        height: 2rem;
        padding: 1rem;
      }
      input:focus,
      textarea:focus {
        outline: none;
      }
      textarea {
        color: black;
        border-radius: 10px;
        padding: 0.5rem;
      }
    }
    small {
      padding-top: 0.5rem;
      color: red;
    }
    .button {
      background-color: white;
      width: 100%;
      margin-top: 1rem;
      height: 2.5rem;
      border-radius: 10px;
      color: black;
    }
    // .button:hover {
    //   background-color: var(--detail);
    // }
  }
}

@media (max-width: 420px) {
  .container {
    .title {
      margin-left: 4rem;
    }
  }
}
