.container {
  width: 100%;
  height: 6.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 6rem;
  position: sticky;
  top: 0;
  background-color: white;
  color: black;
  z-index: 2;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);

  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  .isologo {
    height: 36px;
    cursor: pointer;
  }

  .links {
    display: flex;
    gap: 2rem;
    margin-right: 2rem;
    a {
      font-size: 28px;
      color: var(--secondary);
      cursor: pointer;
    }
    a:hover {
      color: var(--detail);
    }
  }

  .burgerMenu {
    display: none;
    .burger {
      cursor: pointer;
    }
  }
  .close {
    cursor: pointer;
  }
}

.showLinks {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-right: 2rem;
  position: absolute;
  background-color: white;
  width: 100%;
  top: 6.875rem;
  left: 0;
  padding-bottom: 2rem;
  a {
    // padding-left: 2rem;
    font-size: 28px;
    color: var(--secondary);
    cursor: pointer;
  }
  a:hover {
    color: var(--detail);
  }
}
.show {
  display: flex;
}

@media (max-width: 425px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    .links {
      display: none;
      position: absolute;
      bottom: 0;
    }
    .burgerMenu {
      display: block;
    }
    .close {
      display: none;
    }
  }
}
